/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  /* My CSS*/ 
  body{
    font-family: 'Karla', sans-serif;
    background-color: hsl(204, 43%, 93%);
  }
  main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .container{
    display: grid;
    border-radius: 7px;
    overflow: hidden;
    background-color: #FFF;
    grid-template-columns: 50% 50%;
    grid-template-areas: "a a""b c";
    margin: 2rem 1rem;
  }
  .container01{
    grid-area: a;
    height: 13.125rem;
    width: 39.188rem;

  }
  .container01-title{
    color: hsl(179, 62%, 43%);
    font-size: 1.5rem;
  }
  .container01-sub-title{
    color: hsl(71, 73%, 54%);
    font-size: 16px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .container01-content,.container02-content{
    color:hsl(218, 22%, 67%);
  }
  .container02{
    grid-area: b;
    background-color: hsl(179, 60%, 42%);
  }
  .container02-title,.container03-title,.container03{
    color: white;
  }
  .container02-content span{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    padding-right: 1;
  }
  button{
    position: relative;
    height: 2.875rem;
    width: 14.563rem;
    top: 1.5rem;
    left: 1rem;
    border: none;
    background-color:hsl(71, 73%, 54%) ;
    color: white;
    font-weight: 700;
    border-radius: 0.4rem;
  }
  .container03{
    grid-area: c;
    background-color: hsl(179, 62%, 43%);
  }
  .container01,.container02,.container03{
    padding: 1rem;
  }
  .container03 ul{
    list-style: none;
  }
@media (max-width:375px){
  .container{
    grid-template-columns: 1fr;
    grid-template-areas: "a" "b" "c";
  }
  .container01,.container02,.container03{
    height: 15.125rem;
  }
}